<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Markdown Dev</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/articles/about">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Markdown Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown Cheatsheet</a>
            <a class="dropdown-item" href="https://daringfireball.net/projects/markdown/" target="_blank">John Gruber's Original Spec</a>
            <a class="dropdown-item" href="https://docs.github.com/en/github/writing-on-github" target="_blank">Writing on GitHub</a>

            <!-- <div class="dropdown-divider"></div>
            <a class="dropdown-item text-success" href="/auth/login">Log In</a>
            <a class="dropdown-item" href="/auth/create">Sign Up</a>
            <a class="dropdown-item text-primary" href="/podcastsindex">Podcasts Index</a>
          </div> -->
        </li> 
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
      <!-- </ul>
        <form class="form-inline my-2 my-lg-0">
        <button type="button" class="btn btn-gray mr-sm-2"><a href="https://jamieroszel.com" target="_blank">About the author</a></button>
        <input class="form-control mr-sm-2" type="search" placeholder="Enter search here" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>