<!DOCTYPE html>
<html lang="en">
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/head") %>
<body>
          <!-- THE HEADER TAG PARTIAL -->
          <%- include("../partials/header") %>
  <div class="container">
    <h1 class="mb-4">New Article</h1>

    <form action="/articles" method="POST">
      <%- include('_form_fields') %>
    </form>
  </div>
          <!-- THE HEAD TAG PARTIAL -->
          <%- include("../partials/footer") %>
</body>
</html>